.gdc-textcontainer {
    width: 100%;
    clear: both;
    background-color: #EEE;
}

.gdc-textmain {
    width: 800px;
    margin: 0 auto;
    height: 1000px;
    .CodeMirror {
        width: 100%;
        height: 1000px;
    }
}

* {
    box-sizing: border-box;
}
body {
    font-size: 16px;
}